.card {
  width: 330px;
}

#like {
  left: 0;
  position: relative;
}

#comment {
  left: 25%;
  position: relative;
}

#retweet {
  left: 50%;
  position: relative;
}

#share {
  left: 75%;
  position: relative;
}

#post-text {
  width: 100%;
}

@media (max-width:300px) {
  #posts {
    max-width: 100%;
    min-width: 100%;
    /*padding: 0;*/
  }
}

@media (min-width:768px) {
  #posts_container {
    min-width: 600px;
  }
}

@media (min-width:992px) {
  #posts_container {
    min-width: 700px;
  }
}

@media (min-width:1200px) {
  #posts_container {
    min-width: auto;
  }
}

