.card {
  width: 330px;
  margin: 5px;
  display: inline-block;
}

#like {
  left: 0%;
  position: relative;
}

#comment {
  left: 25%;
  position: relative;
}

#retweet {
  left: 50%;
  position: relative;
}

#share {
  left: 75%;
  position: relative;
}

